 .image img{
    width: 100px;
    height: 60px;
}
.image{
    box-shadow: 5px 5px 5px silver;
    display: flex;
    padding: 10px;
    background-color: white;
    margin-top:-40px;
}
.image h4{
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.details-area{
    background-color: lavender;
    width: 430px;
    padding:40px;
}
 