.place {
    background-color: #70bdc2;
    width: 430px;
    padding: 20px 0px;
    text-align: center;
    color: white;
}
.searchBtn{
    background-color: #41B3A3;
    padding: 10px 0px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 800px;
}
label{
    color: #01345B;
    font-weight:bold;
}