.loginForm input{
    width: 420px;
    padding: 10px 0px;
    margin-top: 20px;
}
.login-area{
    border: 1px solid;
    text-align: center;
    width: 500px;
    padding: 30px;
}
.login-area1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.loginSubmitButton{
    background-color: #41B3A3;
    padding: 15px 0px;
    border: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
}