.transport-area img{
    height: 150px;
    width: 260px;
    text-align: center;
}
.transport-area{
    box-shadow: 5px 5px 5px silver;
    padding-bottom:100px;
   text-align: center;
   background-color:white;
   margin-top:100px;

}
.transport-area h4{
    text-align: center;
    margin-top: 20px;
    color: #F4ABAA;
}


